@{
    ViewBag.Title = "Home Page";
}

<div class="well">
    <form>
        <div class="form-group">
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary pull-right" name="submit" value="Tweet">
            <span id="charsLeft">140</span>
        </div>
    </form>
</div>

<div class="well tweets">
    <div class="tweet">
        <img src="https://image.nj.com/home/njo-media/width620/img/entertainment_impact/photo/young-king-dave-dead-at-19jpg-bb99ec558f0bc72a.jpg" width="64" height="64">
        <div class="name">John Doe <span>JohnDoe</span></div>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facit enim ille duo seiuncta ultima bonorum, quae ut essent vera, coniungi debuerunt.</div>
        <div class="clearfix"></div>
    </div>
    <div class="tweet">
        <img src="https://image.nj.com/home/njo-media/width620/img/entertainment_impact/photo/young-king-dave-dead-at-19jpg-bb99ec558f0bc72a.jpg" width="64" height="64">
        <div class="name">John Doe <span>JohnDoe</span></div>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facit enim ille duo seiuncta ultima bonorum, quae ut essent vera, coniungi debuerunt</div>
        <div class="clearfix"></div>
    </div>
</div>

<footer class="footer pull-right"></footer>
